<h5 class="title"><strong>Add user</strong></h5>
<hr>

<form [formGroup]="addUserForm" (submit)="doAddUser()">
	<div class="row">
		
		<div class="col-6">
			<div class="form-group">
				<label for="username">Username</label>
				<input formControlName="username" type="text" class="form-control">
			</div>
		</div>

		<div class="col-6">
			<div class="form-group">
				<label for="password">Password</label>
				<input formControlName="password" type="password" class="form-control">
			</div>
		</div>

		<div class="col-6">
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input formControlName="firstName" type="text" class="form-control">
			</div>
		</div>

		<div class="col-6">
			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input formControlName="lastName" type="text" class="form-control">
			</div>
		</div>

		<div class="col-6">
			<div class="form-group">
				<label for="position">Position</label>
				<input formControlName="position" type="text" class="form-control">
			</div>
		</div>

		<div class="col-6">
			<div class="form-group">
				<label for="role">Role</label>
				<input formControlName="role" type="text" class="form-control">
			</div>
		</div>

		<div class="col-6">
			<div class="form-group">
				<label for="gender">Gender</label>
				<select formControlName="gender" class="form-control">
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>
		</div>

		<!-- <div class="col-6">
			<div class="form-group">
				<label for="Birth Date">Birth Date</label>
				<input formControlName="birthdate" type="date" class="form-control">
			</div>
		</div> -->

		<div class="col-12 text-right">
			<br>
			<button class="btn btn-secondary" type="submit">Submit</button>
		</div>

	</div>

</form>


<br>
<hr>


<form>
	
	<div class="row">
		
		<div class="col-6">
			
			<div class="form-group">
				<input type="file" enctype="multipart/form-data" class="form-control" (change)="onChange($event)">                                    
			</div>

			<button (click)="doUpload()">Upload</button>
			<button (click)="doDownload()">Download</button>

		</div>
	</div>

</form>



















