<div class="header">
	
	<div class="container-fluid">
		<div class="row">
			
			<div class="col-12">
				<div class="header-content-div">
					<img src="assets/images/logo-white.png" alt="Logo">
					<div>
						<h1>Student Organizational Leaders</h1>
						<p>Management Information System</p>
					</div>
				</div>
			</div>
	
		</div>
	</div>

</div>



<div class="sidebar-content">
	<ul>
		<li><a class="active-link" href="">Dashboard</a></li>
		<li><a href="">Organizations</a></li>
		<li><a href="">Digital Archive</a></li>
		<li><a href="">Student Database</a></li>
		<li><a href="">Reports</a></li>
		<li><a href="">Settings</a></li>
		<li><a href="">Logout</a></li>
	</ul>
</div>


<!-- <div class="main-content-container">
	
	<div class="container-fluid">
		
		<div class="row">
			
			<div class="col-3 p-0">
				
				<div class="sidebar-content">
					
					<ul>
						<li><a href="">Dashboard</a></li>
						<li><a href="">Organizations</a></li>
						<li><a href="">Digital Archive</a></li>
						<li><a href="">Student Database</a></li>
						<li><a href="">Reports</a></li>
						<li><a href="">Settings</a></li>
						<li><a href="">Logout</a></li>
					</ul>

				</div>

			</div>

			<div class="col-9">
				
				<div class="main-content">
					<h3>Welcome User</h3>
					<p>Today is</p>
				</div>


			</div>

		</div>



	</div>	

</div> -->

































	
