.students-table {
	margin-top: 5px;

}


th {
	line-height: 1em;
	padding:  10px;
	border-top: 0px;
}


td {
	min-width: 180px;
}

td.edit {
	color: red;
	cursor: pointer;
}


td.delete {
	color:  red;
	cursor: pointer;
}