<div class="item-wrapper one">
    
   <div class="item">
      <form data-validation="true" action="#" method="post" enctype="multipart/form-data">
         <div class="item-inner">
            <div class="item-content">
               <div class="image-upload"> <label style="cursor: pointer;" for="file_upload"> <img src="" alt="" class="uploaded-image">
                  <div class="h-100">
                     <div class="dplay-tbl">
                        <div class="dplay-tbl-cell"> <i class="fa fa-cloud-upload"></i>
                           <h5><b>Choose Your File to Upload</b></h5>
                           <!-- <h6 class="mt-10 mb-70">Or Drop Your Image Here</h6> -->
                        </div>
                     </div>
                  </div>
                  <!--upload-content--> <input type="file" id="file_upload" (change)="onChange($event)" class="image-input">
                  </label> 
               </div>
            </div>
            <!--item-content-->
         </div>
         <!--item-inner-->
      </form>
   </div>
   <!--item-->

</div>



<div class="container">
   
   <div class="row">
      <div class="col-4">
         <div class="form-group">
            <input #search placeholder="Search" type="text" class="form-control">
         </div>
      </div>
   </div>
</div>


<div class="page-content page-container" id="page-content">
   <div class="padding">
      <div class="row container d-flex justify-content-center">
         <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-striped">
                        <thead>
                           <tr>
                              <th>File Type</th>
                              <th>File Name</th>
                              <th></th>
                              <th></th>

                           </tr>
                        </thead>
                        <tbody>
                           <tr *ngFor="let file of files">
                              <td>{{file.content_type}}</td>
                              <td>{{file.original_name}}</td>
                              <td class="delete" (click)="deleteFile(file.id)">Delete</td>
                              <td class="download" (click)="doDownload(file.id, file.content_type, file.original_name)">Download</td>                                              
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


























