h1 {
	color: #fd7a2c;
}


ul {
	margin-top: 20px;
}

ul li {
	line-height: 35px;
}

ul li span {
	color: red;
	border: 1px solid red;
	border-radius: 2px;
	margin-left:  10px;
	padding: 5px;
	cursor: pointer;
}